$nodeFill: hsl(49, 100%, 95%);
$hoveringNodeFill: hsl(309, 100%, 80%);
$draggingNodeFill: hsl(309, 80%, 70%);
$neighborNodeFill: hsl(62, 100%, 70%);
$lassoingNodeFill: hsl(100, 89%, 70%);
$lassoedNodeFill: hsl(90, 89%, 70%);
$lassoedNodeStroke: hsl(90, 100%, 90%);

$edgeFillOpacity: 0.4;
$edgeFill: hsl(51, 100%, 90%);

// Gets us an opaque version of edge fill
$nodeStroke: mix($edgeFill, $background, (100 * $edgeFillOpacity));

$edgeWidth: 3px;

/* Nodes */

.node {
  fill: $nodeFill;
  stroke: $nodeStroke;
  stroke-width: $edgeWidth;
  transition: fill 2s cubic-bezier(0.0, 1.0, 0.0, 1.0); // slow, leaves a stain
  cursor: pointer;
}

@keyframes marchingAnts {
  from {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: 16;
  }
}

.node.is-hovering { fill: $hoveringNodeFill }
.node.is-dragging { fill: $draggingNodeFill; }
.node.is-neighboring { fill: $neighborNodeFill; }
.node.is-lassoing { fill: $lassoingNodeFill; }
.node.is-lassoed {
  fill: $lassoedNodeFill;
  stroke: $lassoedNodeStroke;
  stroke-dasharray: 8 8;
  animation-name: marchingAnts;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

// only want transitions to be slow when going from neighboring to default
// everything else is fast
.node.is-hovering,
.node.is-dragging,
.node.is-neighboring {
  transition: fill 0.05s;
}

/* Edges */

.edge {
  stroke: rgba($edgeFill, $edgeFillOpacity);
  stroke-width: $edgeWidth;
}

/* Lasso */

.lasso {
  fill: transparentize($lassoingNodeFill, 0.9);
  stroke: $lassoingNodeFill;
  stroke-width: $edgeWidth;
  stroke-dasharray: 8 8;
}

/* Narration */
.narration {
  background: pink;
}
