.star-bg-container {
  // back-up background in case front one doesn't cover area
  // probably a way to make sure it does, but it's not that important
  background: url("../public/images/Carina_Nebula.jpg");
  background-size: cover;
}

.star-bg-outer {
  animation: rotatoPotato 1200s linear infinite;
  transform-origin: bottom center;
}

.star-bg-inner {
  background: url("../public/images/Carina_Nebula.jpg");
  background-size: cover;

  scale: 4;
}

@keyframes rotatoPotato {
  0%   { transform: rotate(0turn); }
  100% { transform: rotate(1turn); }
}

.star-bg-screen {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;

  $color: rgba(0,0,0,0.6);
  $dotSize: 1px;
  $spaceSize: 2px;

  background-image: radial-gradient(circle, $color, $color $dotSize, transparent $dotSize, transparent);
  background-size: $spaceSize $spaceSize;
}
