$nodeFill: hsl(49, 100%, 75%);
//$hoveringNodeFill: hsl(309, 100%, 80%);
$hoveringNodeFill: url(#radGrad);//hsl(309, 100%, 80%);
$draggingNodeFill: hsl(309, 80%, 70%);
$neighborNodeFill: hsl(270, 100%, 70%);
$lassoingNodeFill: hsl(100, 89%, 50%);
$lassoedNodeFill: hsl(90, 89%, 50%);
$lassoedNodeStroke: hsl(90, 100%, 90%);

$edgeFillOpacity: 0.9;
$edgeFill: hsl(51, 100%, 90%);
$edgeWidth: 0.4vmin;

.is-hovering {
  cursor: pointer;
}

.is-dragging {
  cursor: pointer;
}

/* Nodes */

.node {
  fill: $nodeFill;
  stroke: $edgeFill;
  stroke-width: $edgeWidth;
  transition: fill 2s;
  transition-easing-function: cubic-bezier(0.0, 1.0, 0.0, 1.0);
  cursor: pointer;
}

@keyframes marchingAnts {
  from {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: 16;
  }
}

.node.is-hovering    { fill: $hoveringNodeFill }
.node.is-dragging    { fill: $draggingNodeFill; }
.node.is-neighboring { fill: $neighborNodeFill; }
.node.is-lassoing    { fill: $lassoingNodeFill; }
.node.is-lassoed {
  fill: $lassoedNodeFill;
  stroke: $lassoedNodeStroke;
  stroke-dasharray: 0.01 0.01;
  animation-name: marchingAnts;
  animation-duration: 360s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

// only want transitions to be slow when going from neighboring to default
// everything else is fast
.node.is-hovering,
.node.is-dragging,
.node.is-neighboring,
.node.is-lassoing,
.node.is-lassoed {
  transition: fill 0.05s;
}

/* Edges */

.edge {
  stroke: rgba($edgeFill, $edgeFillOpacity);
  stroke-width: $edgeWidth;
}

/* Lasso */

.lasso {
  fill: transparentize($lassoingNodeFill, 0.9);
  stroke: $lassoingNodeFill;
  stroke-width: $edgeWidth;
  stroke-dasharray: 8 8;
}
