// disable text-selection
* {
  user-select: none;
}

// underline links on hover
a:hover { text-decoration: underline; }

// parallax background for start screen
@import 'stars';

// svg graph
@import 'graph';

// victory shapes
@import 'shapes';

// slowly rotating stars bg in-game
@import 'gameBg';

/*
$background: hsl(213, 55%, 0%);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
  background: $background;
}

.main-container {
  width: 100%;
  height: 100%;
}


.canvas-container {
  align-self: stretch;
  overflow: hidden;
  min-width: 80vw;
  background: #333;
}

button {
  font-family: 'Comfortaa', cursive;
  &:focus {
    outline: 0;
  }
}

.appState-container {
  @include centered;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  border: 2px solid #004854; //2px solid lighten($background, 20%);

  // maintain a 16:9 ratio, 90% the max screen size
  // From http://stackoverflow.com/a/20593342
  $max: 0.9;
  width: 100vw * $max;
  height: 56.25vw * $max;
  max-height: 100vh * $max;
  max-width: 177.78vh * $max;
  z-index: 100;
}

.constellation {
  z-index: 1;
}

.constellation-glass.is-hovering {
  cursor: pointer;
}

.constellation-glass.is-dragging {
  cursor: pointer;
}

.constellation-glass.is-lassoing {
  cursor: crosshair;
}

.constellation-glass {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}

.constellation-container {
  z-index: 5;
  position: relative;
}

.shapes-container {
  z-index: 4;
  position: relative;
}

@mixin centered {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

@import 'game';
@import 'gameBg';
@import 'menus';
@import 'narration';
@import 'stars';
@import 'start';
@import 'stella';
@import 'shapes';
*/
