// disable text-selection
* {
  user-select: none;
}

// underline links on hover
a:hover { text-decoration: underline; }

// parallax background for start screen
@import 'stars';

// svg graph
@import 'graph';

// victory shapes
@import 'shapes';

// slowly rotating stars bg in-game
@import 'gameBg';

// styles for lower-left cute planet
@import 'mascot'
