$background: hsl(213, 55%, 7%);

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  not supported by any browser */
}

@mixin centered {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  //margin: auto;
  //top:0;bottom:0; /* vertical center */
  //left:0;right:0; /* horizontal center */
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Comfortaa', cursive;
  background: black;
}

button {
  font-family: 'Comfortaa', cursive;
  &:focus {
    outline: 0;
  }
}

.appState-container {
  @include centered;
  background: $background;
  border: 2px solid lighten($background, 20%);

  // maintain a 16:9 ratio, 90% the max screen size
  // From http://stackoverflow.com/a/20593342
  $max: 0.9;
  width: 100vw * $max;
  height: 56.25vw * $max;
  max-height: 100vh * $max;
  max-width: 177.78vh * $max;
  z-index: 100;
}

.constellation {
  z-index: 1;
}

.constellation-glass.is-hovering {
  cursor: pointer;
}

.constellation-glass.is-dragging {
  cursor: pointer;
}

.constellation-glass.is-lassoing {
  cursor: crosshair;
}

.constellation-glass {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}

@import 'game';
@import 'menus';
@import 'narration';
@import 'start';
