$background: hsl(213, 55%, 7%);

@import 'game';
@import 'menus';
@import 'start';

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  not supported by any browser */
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: scroll;
  font-family: 'Comfortaa', cursive;
  background: $background;
}

.appState-container {
  width: 100%;
  height: 100%;
}
