/* level select */

.levelSelect-container {
  width: 120px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 300px; /* butt up against .config-container */
  overflow-y: scroll;
}

.levelSelect-selector {
  width: 100%;
  color: #123;
  background: #abc;
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #456;
  box-sizing: border-box;
  font-family: monospace;
  cursor: pointer;
  font-size: 18px;
}

.levelSelect-selector:hover {
  background: #89a;
}

.levelSelect-selector:active {
  background: #678;
}

.levelSelect-selector-isCurrent,
.levelSelect-selector-isCurrent:hover {
  background: #678;
  cursor: default;
}

/* config */

.config-container {
  width: 300px;
  height: 100%;
  background: transparent;//#333;
  position: absolute;
  top: 0;
  right: 0;
}

.config-pair {
  margin-top: 10px;
  padding: 10px;
}

.config-label, .config-val {
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  margin: 14px;
}

/* Win Modal */

.win-modal {
  background: #158aff;
  padding: 50px;
  border: 2px solid #91c8ff;
  border-radius: 5px;
  text-align: center;
  transition: top 1s cubic-bezier(0.87,-0.41, 0.19, 1.44);

  /* center the modal */
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.win-modal.hidden {
  top: 200%;
}

.win-modal-text {
  font-family: sans-serif;
  font-size: 24px;
  color: #fff;
  margin-bottom: 40px;
}

.win-modal-button {
  font-family: sans-serif;
  color: #fff;
  background: #01a7a2;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #036562;
  cursor: pointer;
}

.win-modal-button:hover {
  background: #06b7b2;
}

.win-modal-button:active {
  background: #049a96;
}
