.narration {
  @include centered;
  position: absolute;
  z-index: 9999;

  $light: #e6dee9;
  $dark: #fdcbf1;

  background-image: linear-gradient(155deg, $light 0%, $dark 100%);
  border-radius: 10px;
  border: 2px solid darken($dark, 5%);
  display: inline-block;
  padding: 16px;
  width: 240px;
  text-align: center;
  opacity: 1;
  transition: opacity 0.2s, top 1s;

  p {
    color: white;
    text-shadow: 0px 0px 2px #313;
    font-size: 24px;
    text-align: left;
  }

  .btn {
    text-shadow: 0px 0px 2px #313;
    margin: auto;
    border: 2px solid darken(#f78ca0, 10%);
    padding: 12px 24px 8px;
    font-size: 16px;
    color: white;
    border-radius: 8px;

    background-image: linear-gradient(to left, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
    display: inline-block;

    &:hover {
      cursor: pointer;
      background-image: linear-gradient(to left, #f9748f 0%, #fd868c 100%);
      border: 2px solid darken(#f78ca0, 20%);
    }

    &:active {
      background: #f9748f;
    }
  }

  &.is-hidden {
    top: 200%;
    opacity: 0;
  }
}
