.shapes-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.shapes {
  width: 100%;
  height: 100%;
}

// FIXME
.win-modal {
  //display: none !important;
}

.shape-container {
  opacity: 0;
  animation: 0.1s 1 normal forwards shimmerExpose;
}

.shape {
  animation-name: dimmer;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.shimmer {
  fill: white;
  opacity: 0;
  animation: shimmer 5s infinite;
}

@keyframes shimmerExpose {
  0%    { opacity: 0; }
  100%  { opacity: 1; }
}

@keyframes dimmer {
  0%    { opacity: 0.65; }
  100%  { opacity: 0.85; }
}

@keyframes shimmer {
  0%   { opacity: 0; }
  1%   { opacity: 0.1; }
  2%   { opacity: 0.2; }
  3%   { opacity: 0.4; }
  4%   { opacity: 0.4; }
  5%   { opacity: 0.3; }
  6%   { opacity: 0.3; }
  7%   { opacity: 0.2; }
  8%   { opacity: 0.2; }
  9%   { opacity: 0.1; }
  10%  { opacity: 0.1; }
  100% { opacity: 0; }
}

//start at opacity 0
//starting with the toprightmost shape first...
//  swiftly fade in white
//  white fades away to pulsating color
//  repeat after 3 seconds
