#start {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  h1 {
    color: white;
    margin: 0;
    font-size: 48px;
  }

  h2 {
    color: white;
    margin: 20px 0 0;
    font-size: 24px;
  }

  h3 {
    color: white;
    margin: 20px 0 0;
    font-size: 18px;

    a.link {
      color: #abf;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  a.twitter {
    color: #1DA1F2;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .start-btn {
    $light: #fad0c4;
    $dark: #ff9a9e;
    color: white;
    text-shadow: 0px 0px 1px #933;

    background-image: linear-gradient(155deg, $light 0%, $dark 100%);
    border-radius: 10px;
    border: 2px solid darken($light, 10%);
    display: inline-block;
    font-size: 24px;
    margin-top: 20px;
    padding: 16px;
    width: 240px;
    transition:
      background-image 1s,
      border-color 1s,
      box-shadow 1s;

    &:hover {
      $light: darken($light, 4%);
      $dark: darken($dark, 3%);
      background-image: linear-gradient(155deg, $light 0%, $dark 100%);
      border-color: darken($light, 10%);
      cursor: pointer;
      box-shadow: 0 0 7px $light;
    }

    &:active {
      $light: darken($light, 6%);
      $dark: darken($dark, 4%);
      background-image: linear-gradient(155deg, $light 0%, $dark 100%);
      border-color: darken($light, 20%);
    }

    &.campaign-btn {
      margin-top: 100px;
    }
  }

}
